{% extends "base.html" %}
{% block content %}
    <img src="{{ user.image_url }}" alt="user image"></img>
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <form action="{{ edit_url }}">
        <input type="submit" value="edit"></input>
    </form>
    <form action="{{ delete_url }}">
        <input type="submit" value="delete"></input>
    </form>
    <ul>
        {% for post in posts %}
            <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <form action="/users/{{ user.id }}/posts/new">
        <input type="submit" value="Add Post"></input>
    </form>
{% endblock %}